{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center; padding-top: 100px;">
        <h1>403 Forbidden</h1>

        <p>
            <img src="https://s8.hostingkartinok.com/uploads/images/2018/03/29d249173fe4de5bc9c0096b5e23d378.png">
        </p>
        <a href="/logout">logout</a>
    </div>
{% endblock %}